<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>News</title>
</head>
<style type="text/css">
	.col-name ul li { display: inline; padding: 10px; }
	.bold { font-weight: bold;}
	table { width: 100%;  }
	.headers td { padding: 10px; background-color: #F1F1F1; }
</style>
<body>
	<h1>News</h1>
	<table>
		<tr class="headers">
			<td>ID</td>
			<td>Title</td>
			<td>Modified</td>
			<td>Created</td>
		</tr>

	{% for dic in news %}
		<tr>
			<td><strong>{{dic.id}}</strong></td>
			<td>
				<a href="/news/{{dic.id}}">{{dic.title}}</a>
			</td>
			<td>{{dic.updated_at}}</td>
			<td>{{dic.created_at}}</td>
		</tr>
	{% endfor %}
</body>
</html>
